<% provide :title, "Dashboard" %>
<div class="mb-4 row">
  <h1 class="col-8">
    Your event
  </h1>
  <div class="col">
    <div class="float-end">
      <%= link_to "Create event", new_event_path, class:"btn btn-primary mx-3", remote: true %>
    </div>
  </div>
</div>
<div class="row">
  <%= render @events %>
</div>
