<% provide :title, :home %>
<% provide :header_page, "Your event" %>
<% content_for :header_content do %>
  <button data-modal-toggle="defaultModal" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded">
    <span>Create event</span>
  </button>
<% end %>

<div class="px-4 py-6 sm:px-0">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <%= turbo_stream_from :events %>
    <%= turbo_frame_tag :events,
      class: "mt-6 space-y-12 lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-x-6 items-center" do %>
      <%= render @events %>
    <% end %>
  </div>
</div>

<% content_for :modal_title, "Create" %>
<% content_for :modal_body do %>
  <%= render "events/form", event: @event %>
<% end %>
