<% provide :title, "Dashboard" %>
<div class="mb-4 row">
  <h1 class="col-8">
    Your event
  </h1>
  <div class="col">
    <div class="float-end">
      <%= link_to "Create event", new_event_path, class:"btn btn-primary mx-3",
        "data-bs-toggle": :modal, "data-bs-target": "#exampleModal", "data-bs-whatever": "@mdo", remote: true %>
    </div>
  </div>
</div>
<div class="row">
  <%= render @events %>
</div>
<% content_for :modal_title, "Create" %>
<% content_for :modal_body do %>
  <%= render "events/form", event: @event %>
<% end %>
