<li class="list-group-item">
  <span class="glyphicon glyphicon-plus"></span>
  <small class="text-muted"><%= a.created_at.strftime('%H:%M:%S %-d %B %Y') %></small><br/>
  <% if a.trackable %>

    <%= link_to a.owner&.full_name, admin_user_path(id: a.owner) if a.owner %> was added

    <%= link_to a.trackable.name, event_task_path(event_id: a.trackable.event_id , id: a.trackable), remote: true if  a.trackable.event_id%> was added.
  <% else %>
    An article that is currently deleted was added.
  <% end %>
</li>
