<section class="gray-bg">
  <div class="container">
    <%= render "admin/users/info_user" %>
    <%= render "admin/users/statistic_user" %>
    <%= render "admin/users/events_user" %>
  </div>
</section>
