<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright &copy; Tran Van Sang</span>
    </div>
  </div>
</footer>
