<div class="container-fluid mt-5 bg-footer mb-0 border-top" id="footer">
  <footer class="container pt-4">
    <div class="row">
      <div class="col-12 col-md">
        <%= image_tag "s-event-logo.png", class:"mb-2", width: 150 %>
        <small class="d-block mb-3 text-muted">Copyright &copy; Tran Van Sang</small>
      </div>
      <div class="col-6 col-md">
      </div>
      <div class="col-6 col-md">
      </div>
      <div class="col-6 col-md pb-3">
        <div class="fb-page" data-href="https://www.facebook.com/Sevent"
          data-small-header="false" data-hide-cover="false" data-show-facepile="true">
          <blockquote cite="https://www.facebook.com/Sevent" class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/Sevent">S-event</a>
          </blockquote>
        </div>
      </div>
    </div>
  </footer>
</div>
