<div class="container-fluid mt-5 bg-footer mb-0 border-top">
  <footer class="container pt-4">
    <div class="row">
      <div class="col-12 col-md">
        <%= image_tag "s-event-logo.png", class:"mb-2", width: 150 %>
        <small class="d-block mb-3 text-muted">Copyright &copy; Tran Van Sang</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Cool stuff</a></li>
          <li><a class="text-muted" href="#">Random feature</a></li>
          <li><a class="text-muted" href="#">Team feature</a></li>
          <li><a class="text-muted" href="#">Stuff for developers</a></li>
          <li><a class="text-muted" href="#">Another one</a></li>
          <li><a class="text-muted" href="#">Last time</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Resource</a></li>
          <li><a class="text-muted" href="#">Resource name</a></li>
          <li><a class="text-muted" href="#">Another resource</a></li>
          <li><a class="text-muted" href="#">Final resource</a></li>
        </ul>
      </div>
      <div class="col-6 col-md pb-3">
        <div class="fb-page" data-href="https://www.facebook.com/Sevent"
          data-small-header="false" data-hide-cover="false" data-show-facepile="true">
          <blockquote cite="https://www.facebook.com/Sevent" class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/Sevent">S-event</a>
          </blockquote>
        </div>
      </div>
    </div>
  </footer>
</div>
